My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1IB60U_BNYL-Zontr2_tZNfS5Wjz65F4kQp_2e2HFzOA",
          "mode": "list",
          "cachedResultName": "exp-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB60U_BNYL-Zontr2_tZNfS5Wjz65F4kQp_2e2HFzOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1723644860,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB60U_BNYL-Zontr2_tZNfS5Wjz65F4kQp_2e2HFzOA/edit#gid=1723644860"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "640a02fa-0a4a-49c8-969a-bd683dc977bf",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ucLf5WSCDMDUrkUW",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "akulateprasanth@gmail.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "hi",
        "emailFormat": "text",
        "text": "={{ $json.Name }} , nice to meet you,welcome aboard",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "f8349125-c1c0-4abb-8434-36783e1ea1d6",
      "name": "Send an Email",
      "webhookId": "4a472178-aa7b-4de5-a68f-cd9826fc1f03",
      "credentials": {
        "smtp": {
          "id": "6cdGj46PpT9jT02u",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IB60U_BNYL-Zontr2_tZNfS5Wjz65F4kQp_2e2HFzOA",
          "mode": "list",
          "cachedResultName": "exp-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB60U_BNYL-Zontr2_tZNfS5Wjz65F4kQp_2e2HFzOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1723644860,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IB60U_BNYL-Zontr2_tZNfS5Wjz65F4kQp_2e2HFzOA/edit#gid=1723644860"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent": "Y",
            "Timestamp": "={{ $('Google Sheets Trigger').item.json.Timestamp }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "1366918a-97ca-467d-978e-4f8768e5e428",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kdRGUgbJ9HoJfmC0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5ff54740-52cd-4a90-816a-e60e5063a410",
              "leftValue": "={{ $json.Sent }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "0472412c-74dc-4d00-a99d-737bc8e72ee1",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6089e0f4-f9ad-427e-a4f0-7a45133c3694",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4986ffbeb301de8725d0c541e30c4ccdf8d5204d3525cdd84815e9ec256a4f64"
  },
  "id": "0p8YkGqyMaIUVZgE",
  "tags": []
}